.lang-1C-Enterprise { color: #814CCC; }
.lang-2-Dimensional-Array { color: #38761D; }
.lang-4D { color: #004289; }
.lang-ABAP { color: #E8274B; }
.lang-ABAP-CDS { color: #555e25; }
.lang-AGS-Script { color: #B9D9FF; }
.lang-AIDL { color: #34EB6B; }
.lang-AL { color: #3AA2B5; }
.lang-AMPL { color: #E6EFBB; }
.lang-ANTLR { color: #9DC3FF; }
.lang-API-Blueprint { color: #2ACCA8; }
.lang-APL { color: #5A8164; }
.lang-ASP.NET { color: #9400ff; }
.lang-ATS { color: #1ac620; }
.lang-ActionScript { color: #882B0F; }
.lang-Ada { color: #02f88c; }
.lang-Adblock-Filter-List { color: #800000; }
.lang-Adobe-Font-Metrics { color: #fa0f00; }
.lang-Agda { color: #315665; }
.lang-Alloy { color: #64C800; }
.lang-Alpine-Abuild { color: #0D597F; }
.lang-Altium-Designer { color: #A89663; }
.lang-AngelScript { color: #C7D7DC; }
.lang-Ant-Build-System { color: #A9157E; }
.lang-Antlers { color: #ff269e; }
.lang-ApacheConf { color: #d12127; }
.lang-Apex { color: #1797c0; }
.lang-Apollo-Guidance-Computer { color: #0B3D91; }
.lang-AppleScript { color: #101F1F; }
.lang-Arc { color: #aa2afe; }
.lang-AsciiDoc { color: #73a0c5; }
.lang-AspectJ { color: #a957b0; }
.lang-Assembly { color: #6E4C13; }
.lang-Astro { color: #ff5a03; }
.lang-Asymptote { color: #ff0000; }
.lang-Augeas { color: #9CC134; }
.lang-AutoHotkey { color: #6594b9; }
.lang-AutoIt { color: #1C3552; }
.lang-Avro-IDL { color: #0040FF; }
.lang-Awk { color: #c30e9b; }
.lang-BASIC { color: #ff0000; }
.lang-Ballerina { color: #FF5000; }
.lang-Batchfile { color: #C1F12E; }
.lang-Beef { color: #a52f4e; }
.lang-Berry { color: #15A13C; }
.lang-BibTeX { color: #778899; }
.lang-Bicep { color: #519aba; }
.lang-Bikeshed { color: #5562ac; }
.lang-Bison { color: #6A463F; }
.lang-BitBake { color: #00bce4; }
.lang-Blade { color: #f7523f; }
.lang-BlitzBasic { color: #00FFAE; }
.lang-BlitzMax { color: #cd6400; }
.lang-Bluespec { color: #12223c; }
.lang-Bluespec-BH { color: #12223c; }
.lang-Boo { color: #d4bec1; }
.lang-Boogie { color: #c80fa0; }
.lang-Brainfuck { color: #2F2530; }
.lang-BrighterScript { color: #66AABB; }
.lang-Brightscript { color: #662D91; }
.lang-Browserslist { color: #ffd539; }
.lang-C { color: #555555; }
.lang-C# { color: #178600; }
.lang-C++ { color: #f34b7d; }
.lang-CAP-CDS { color: #0092d1; }
.lang-CLIPS { color: #00A300; }
.lang-CMake { color: #DA3434; }
.lang-COLLADA { color: #F1A42B; }
.lang-CSON { color: #244776; }
.lang-CSS { color: #563d7c; }
.lang-CSV { color: #237346; }
.lang-CUE { color: #5886E1; }
.lang-CWeb { color: #00007a; }
.lang-Cabal-Config { color: #483465; }
.lang-Cadence { color: #00ef8b; }
.lang-Cairo { color: #ff4a48; }
.lang-CameLIGO { color: #3be133; }
.lang-Ceylon { color: #dfa535; }
.lang-Chapel { color: #8dc63f; }
.lang-ChucK { color: #3f8000; }
.lang-Circom { color: #707575; }
.lang-Cirru { color: #ccccff; }
.lang-Clarion { color: #db901e; }
.lang-Clarity { color: #5546ff; }
.lang-Classic-ASP { color: #6a40fd; }
.lang-Clean { color: #3F85AF; }
.lang-Click { color: #E4E6F3; }
.lang-Clojure { color: #db5855; }
.lang-Closure-Templates { color: #0d948f; }
.lang-Cloud-Firestore-Security-Rules { color: #FFA000; }
.lang-CodeQL { color: #140f46; }
.lang-CoffeeScript { color: #244776; }
.lang-ColdFusion { color: #ed2cd6; }
.lang-ColdFusion-CFC { color: #ed2cd6; }
.lang-Common-Lisp { color: #3fb68b; }
.lang-Common-Workflow-Language { color: #B5314C; }
.lang-Component-Pascal { color: #B0CE4E; }
.lang-Coq { color: #d0b68c; }
.lang-Crystal { color: #000100; }
.lang-Csound { color: #1a1a1a; }
.lang-Csound-Document { color: #1a1a1a; }
.lang-Csound-Score { color: #1a1a1a; }
.lang-Cuda { color: #3A4E3A; }
.lang-Curry { color: #531242; }
.lang-Cypher { color: #34c0eb; }
.lang-Cython { color: #fedf5b; }
.lang-D { color: #ba595e; }
.lang-D2 { color: #526ee8; }
.lang-DM { color: #447265; }
.lang-Dafny { color: #FFEC25; }
.lang-Darcs-Patch { color: #8eff23; }
.lang-Dart { color: #00B4AB; }
.lang-DataWeave { color: #003a52; }
.lang-Debian-Package-Control-File { color: #D70751; }
.lang-DenizenScript { color: #FBEE96; }
.lang-Dhall { color: #dfafff; }
.lang-DirectX-3D-File { color: #aace60; }
.lang-Dockerfile { color: #384d54; }
.lang-Dogescript { color: #cca760; }
.lang-Dotenv { color: #e5d559; }
.lang-Dylan { color: #6c616e; }
.lang-E { color: #ccce35; }
.lang-ECL { color: #8a1267; }
.lang-ECLiPSe { color: #001d9d; }
.lang-EJS { color: #a91e50; }
.lang-EQ { color: #a78649; }
.lang-Earthly { color: #2af0ff; }
.lang-Easybuild { color: #069406; }
.lang-Ecere-Projects { color: #913960; }
.lang-Ecmarkup { color: #eb8131; }
.lang-EditorConfig { color: #fff1f2; }
.lang-Eiffel { color: #4d6977; }
.lang-Elixir { color: #6e4a7e; }
.lang-Elm { color: #60B5CC; }
.lang-Elvish { color: #55BB55; }
.lang-Elvish-Transcript { color: #55BB55; }
.lang-Emacs-Lisp { color: #c065db; }
.lang-EmberScript { color: #FFF4F3; }
.lang-Erlang { color: #B83998; }
.lang-Euphoria { color: #FF790B; }
.lang-F# { color: #b845fc; }
.lang-F* { color: #572e30; }
.lang-FIGlet-Font { color: #FFDDBB; }
.lang-FLUX { color: #88ccff; }
.lang-Factor { color: #636746; }
.lang-Fancy { color: #7b9db4; }
.lang-Fantom { color: #14253c; }
.lang-Faust { color: #c37240; }
.lang-Fennel { color: #fff3d7; }
.lang-Filebench-WML { color: #F6B900; }
.lang-Fluent { color: #ffcc33; }
.lang-Forth { color: #341708; }
.lang-Fortran { color: #4d41b1; }
.lang-Fortran-Free-Form { color: #4d41b1; }
.lang-FreeBasic { color: #141AC9; }
.lang-FreeMarker { color: #0050b2; }
.lang-Frege { color: #00cafe; }
.lang-Futhark { color: #5f021f; }
.lang-G-code { color: #D08CF2; }
.lang-GAML { color: #FFC766; }
.lang-GAMS { color: #f49a22; }
.lang-GAP { color: #0000cc; }
.lang-GCC-Machine-Description { color: #FFCFAB; }
.lang-GDScript { color: #355570; }
.lang-GEDCOM { color: #003058; }
.lang-GLSL { color: #5686a5; }
.lang-GSC { color: #FF6800; }
.lang-Game-Maker-Language { color: #71b417; }
.lang-Gemfile.lock { color: #701516; }
.lang-Gemini { color: #ff6900; }
.lang-Genero { color: #63408e; }
.lang-Genero-Forms { color: #d8df39; }
.lang-Genie { color: #fb855d; }
.lang-Genshi { color: #951531; }
.lang-Gentoo-Ebuild { color: #9400ff; }
.lang-Gentoo-Eclass { color: #9400ff; }
.lang-Gerber-Image { color: #d20b00; }
.lang-Gherkin { color: #5B2063; }
.lang-Git-Attributes { color: #F44D27; }
.lang-Git-Config { color: #F44D27; }
.lang-Git-Revision-List { color: #F44D27; }
.lang-Gleam { color: #ffaff3; }
.lang-Glyph { color: #c1ac7f; }
.lang-Gnuplot { color: #f0a9f0; }
.lang-Go { color: #00ADD8; }
.lang-Go-Checksums { color: #00ADD8; }
.lang-Go-Module { color: #00ADD8; }
.lang-Go-Workspace { color: #00ADD8; }
.lang-Godot-Resource { color: #355570; }
.lang-Golo { color: #88562A; }
.lang-Gosu { color: #82937f; }
.lang-Grace { color: #615f8b; }
.lang-Gradle { color: #02303a; }
.lang-Gradle-Kotlin-DSL { color: #02303a; }
.lang-Grammatical-Framework { color: #ff0000; }
.lang-GraphQL { color: #e10098; }
.lang-Groovy { color: #4298b8; }
.lang-Groovy-Server-Pages { color: #4298b8; }
.lang-HAProxy { color: #106da9; }
.lang-HCL { color: #844FBA; }
.lang-HLSL { color: #aace60; }
.lang-HOCON { color: #9ff8ee; }
.lang-HTML { color: #e34c26; }
.lang-HTTP { color: #005C9C; }
.lang-HXML { color: #f68712; }
.lang-Hack { color: #878787; }
.lang-Haml { color: #ece2a9; }
.lang-Handlebars { color: #f7931e; }
.lang-Harbour { color: #0e60e3; }
.lang-Haskell { color: #5e5086; }
.lang-Haxe { color: #df7900; }
.lang-HiveQL { color: #dce200; }
.lang-HolyC { color: #ffefaf; }
.lang-Hosts-File { color: #308888; }
.lang-Hy { color: #7790B2; }
.lang-IDL { color: #a3522f; }
.lang-IGOR-Pro { color: #0000cc; }
.lang-INI { color: #d1dbe0; }
.lang-Idris { color: #b30000; }
.lang-Ignore-List { color: #000000; }
.lang-ImageJ-Macro { color: #99AAFF; }
.lang-Imba { color: #16cec6; }
.lang-Inno-Setup { color: #264b99; }
.lang-Io { color: #a9188d; }
.lang-Ioke { color: #078193; }
.lang-Isabelle { color: #FEFE00; }
.lang-Isabelle-ROOT { color: #FEFE00; }
.lang-J { color: #9EEDFF; }
.lang-JAR-Manifest { color: #b07219; }
.lang-JCL { color: #d90e09; }
.lang-JFlex { color: #DBCA00; }
.lang-JSON { color: #292929; }
.lang-JSON-with-Comments { color: #292929; }
.lang-JSON5 { color: #267CB9; }
.lang-JSONLD { color: #0c479c; }
.lang-JSONiq { color: #40d47e; }
.lang-Janet { color: #0886a5; }
.lang-Jasmin { color: #d03600; }
.lang-Java { color: #b07219; }
.lang-Java-Properties { color: #2A6277; }
.lang-Java-Server-Pages { color: #2A6277; }
.lang-JavaScript { color: #f1e05a; }
.lang-Jest-Snapshot { color: #15c213; }
.lang-JetBrains-MPS { color: #21D789; }
.lang-Jinja { color: #a52a22; }
.lang-Jison { color: #56b3cb; }
.lang-Jison-Lex { color: #56b3cb; }
.lang-Jolie { color: #843179; }
.lang-Jsonnet { color: #0064bd; }
.lang-Julia { color: #a270ba; }
.lang-Jupyter-Notebook { color: #DA5B0B; }
.lang-Just { color: #384d54; }
.lang-KRL { color: #28430A; }
.lang-Kaitai-Struct { color: #773b37; }
.lang-KakouneScript { color: #6f8042; }
.lang-KerboScript { color: #41adf0; }
.lang-KiCad-Layout { color: #2f4aab; }
.lang-KiCad-Legacy-Layout { color: #2f4aab; }
.lang-KiCad-Schematic { color: #2f4aab; }
.lang-Kotlin { color: #A97BFF; }
.lang-LFE { color: #4C3023; }
.lang-LLVM { color: #185619; }
.lang-LOLCODE { color: #cc9900; }
.lang-LSL { color: #3d9970; }
.lang-LabVIEW { color: #fede06; }
.lang-Lark { color: #2980B9; }
.lang-Lasso { color: #999999; }
.lang-Latte { color: #f2a542; }
.lang-Less { color: #1d365d; }
.lang-Lex { color: #DBCA00; }
.lang-LigoLANG { color: #0e74ff; }
.lang-LilyPond { color: #9ccc7c; }
.lang-Liquid { color: #67b8de; }
.lang-Literate-Agda { color: #315665; }
.lang-Literate-CoffeeScript { color: #244776; }
.lang-Literate-Haskell { color: #5e5086; }
.lang-LiveScript { color: #499886; }
.lang-Logtalk { color: #295b9a; }
.lang-LookML { color: #652B81; }
.lang-Lua { color: #000080; }
.lang-MATLAB { color: #e16737; }
.lang-MAXScript { color: #00a6a6; }
.lang-MDX { color: #fcb32c; }
.lang-MLIR { color: #5EC8DB; }
.lang-MQL4 { color: #62A8D6; }
.lang-MQL5 { color: #4A76B8; }
.lang-MTML { color: #b7e1f4; }
.lang-Macaulay2 { color: #d8ffff; }
.lang-Makefile { color: #427819; }
.lang-Mako { color: #7e858d; }
.lang-Markdown { color: #083fa1; }
.lang-Marko { color: #42bff2; }
.lang-Mask { color: #f97732; }
.lang-Mathematica { color: #dd1100; }
.lang-Max { color: #c4a79c; }
.lang-Mercury { color: #ff2b2b; }
.lang-Mermaid { color: #ff3670; }
.lang-Meson { color: #007800; }
.lang-Metal { color: #8f14e9; }
.lang-MiniYAML { color: #ff1111; }
.lang-Mint { color: #02b046; }
.lang-Mirah { color: #c7a938; }
.lang-Modelica { color: #de1d31; }
.lang-Modula-2 { color: #10253f; }
.lang-Modula-3 { color: #223388; }
.lang-Monkey-C { color: #8D6747; }
.lang-MoonScript { color: #ff4585; }
.lang-Motoko { color: #fbb03b; }
.lang-Motorola-68K-Assembly { color: #005daa; }
.lang-Move { color: #4a137a; }
.lang-Mustache { color: #724b3b; }
.lang-NCL { color: #28431f; }
.lang-NPM-Config { color: #cb3837; }
.lang-NWScript { color: #111522; }
.lang-Nasal { color: #1d2c4e; }
.lang-Nearley { color: #990000; }
.lang-Nemerle { color: #3d3c6e; }
.lang-NetLinx { color: #0aa0ff; }
.lang-NetLogo { color: #ff6375; }
.lang-NewLisp { color: #87AED7; }
.lang-Nextflow { color: #3ac486; }
.lang-Nginx { color: #009639; }
.lang-Nim { color: #ffc200; }
.lang-Nit { color: #009917; }
.lang-Nix { color: #7e7eff; }
.lang-Nu { color: #c9df40; }
.lang-NumPy { color: #9C8AF9; }
.lang-Nunjucks { color: #3d8137; }
.lang-Nushell { color: #4E9906; }
.lang-OASv2-json { color: #85ea2d; }
.lang-OASv2-yaml { color: #85ea2d; }
.lang-OASv3-json { color: #85ea2d; }
.lang-OASv3-yaml { color: #85ea2d; }
.lang-OCaml { color: #ef7a08; }
.lang-ObjectScript { color: #424893; }
.lang-Objective-C { color: #438eff; }
.lang-Objective-C++ { color: #6866fb; }
.lang-Objective-J { color: #ff0c5a; }
.lang-Odin { color: #60AFFE; }
.lang-Omgrofl { color: #cabbff; }
.lang-Opal { color: #f7ede0; }
.lang-Open-Policy-Agent { color: #7d9199; }
.lang-OpenAPI-Specification-v2 { color: #85ea2d; }
.lang-OpenAPI-Specification-v3 { color: #85ea2d; }
.lang-OpenCL { color: #ed2e2d; }
.lang-OpenEdge-ABL { color: #5ce600; }
.lang-OpenQASM { color: #AA70FF; }
.lang-OpenSCAD { color: #e5cd45; }
.lang-Option-List { color: #476732; }
.lang-Org { color: #77aa99; }
.lang-Oxygene { color: #cdd0e3; }
.lang-Oz { color: #fab738; }
.lang-P4 { color: #7055b5; }
.lang-PDDL { color: #0d00ff; }
.lang-PEG.js { color: #234d6b; }
.lang-PHP { color: #4F5D95; }
.lang-PLSQL { color: #dad8d8; }
.lang-PLpgSQL { color: #336790; }
.lang-POV-Ray-SDL { color: #6bac65; }
.lang-Pact { color: #F7A8B8; }
.lang-Pan { color: #cc0000; }
.lang-Papyrus { color: #6600cc; }
.lang-Parrot { color: #f3ca0a; }
.lang-Pascal { color: #E3F171; }
.lang-Pawn { color: #dbb284; }
.lang-Pep8 { color: #C76F5B; }
.lang-Perl { color: #0298c3; }
.lang-PicoLisp { color: #6067af; }
.lang-PigLatin { color: #fcd7de; }
.lang-Pike { color: #005390; }
.lang-PlantUML { color: #fbbd16; }
.lang-PogoScript { color: #d80074; }
.lang-Polar { color: #ae81ff; }
.lang-Portugol { color: #f8bd00; }
.lang-PostCSS { color: #dc3a0c; }
.lang-PostScript { color: #da291c; }
.lang-PowerBuilder { color: #8f0f8d; }
.lang-PowerShell { color: #012456; }
.lang-Prisma { color: #0c344b; }
.lang-Processing { color: #0096D8; }
.lang-Procfile { color: #3B2F63; }
.lang-Prolog { color: #74283c; }
.lang-Promela { color: #de0000; }
.lang-Propeller-Spin { color: #7fa2a7; }
.lang-Pug { color: #a86454; }
.lang-Puppet { color: #302B6D; }
.lang-PureBasic { color: #5a6986; }
.lang-PureScript { color: #1D222D; }
.lang-Pyret { color: #ee1e10; }
.lang-Python { color: #3572A5; }
.lang-Python-console { color: #3572A5; }
.lang-Python-traceback { color: #3572A5; }
.lang-Q# { color: #fed659; }
.lang-QML { color: #44a51c; }
.lang-Qt-Script { color: #00b841; }
.lang-Quake { color: #882233; }
.lang-R { color: #198CE7; }
.lang-RAML { color: #77d9fb; }
.lang-RBS { color: #701516; }
.lang-RDoc { color: #701516; }
.lang-REXX { color: #d90e09; }
.lang-RMarkdown { color: #198ce7; }
.lang-RPGLE { color: #2BDE21; }
.lang-RUNOFF { color: #665a4e; }
.lang-Racket { color: #3c5caa; }
.lang-Ragel { color: #9d5200; }
.lang-Raku { color: #0000fb; }
.lang-Rascal { color: #fffaa0; }
.lang-ReScript { color: #ed5051; }
.lang-Reason { color: #ff5847; }
.lang-ReasonLIGO { color: #ff5847; }
.lang-Rebol { color: #358a5b; }
.lang-Record-Jar { color: #0673ba; }
.lang-Red { color: #f50000; }
.lang-Regular-Expression { color: #009a00; }
.lang-Rez { color: #FFDAB3; }
.lang-Ring { color: #2D54CB; }
.lang-Riot { color: #A71E49; }
.lang-RobotFramework { color: #00c0b5; }
.lang-Roff { color: #ecdebe; }
.lang-Roff-Manpage { color: #ecdebe; }
.lang-Rouge { color: #cc0088; }
.lang-RouterOS-Script { color: #DE3941; }
.lang-Ruby { color: #701516; }
.lang-Rust { color: #dea584; }
.lang-SAS { color: #B34936; }
.lang-SCSS { color: #c6538c; }
.lang-SPARQL { color: #0C4597; }
.lang-SQF { color: #3F3F3F; }
.lang-SQL { color: #e38c00; }
.lang-SQLPL { color: #e38c00; }
.lang-SRecode-Template { color: #348a34; }
.lang-STL { color: #373b5e; }
.lang-SVG { color: #ff9900; }
.lang-SaltStack { color: #646464; }
.lang-Sass { color: #a53b70; }
.lang-Scala { color: #c22d40; }
.lang-Scaml { color: #bd181a; }
.lang-Scenic { color: #fdc700; }
.lang-Scheme { color: #1e4aec; }
.lang-Scilab { color: #ca0f21; }
.lang-Self { color: #0579aa; }
.lang-ShaderLab { color: #222c37; }
.lang-Shell { color: #89e051; }
.lang-ShellCheck-Config { color: #cecfcb; }
.lang-Shen { color: #120F14; }
.lang-Simple-File-Verification { color: #C9BFED; }
.lang-Singularity { color: #64E6AD; }
.lang-Slash { color: #007eff; }
.lang-Slice { color: #003fa2; }
.lang-Slim { color: #2b2b2b; }
.lang-SmPL { color: #c94949; }
.lang-Smalltalk { color: #596706; }
.lang-Smarty { color: #f0c040; }
.lang-Smithy { color: #c44536; }
.lang-Snakemake { color: #419179; }
.lang-Solidity { color: #AA6746; }
.lang-SourcePawn { color: #f69e1d; }
.lang-Squirrel { color: #800000; }
.lang-Stan { color: #b2011d; }
.lang-Standard-ML { color: #dc566d; }
.lang-Starlark { color: #76d275; }
.lang-Stata { color: #1a5f91; }
.lang-StringTemplate { color: #3fb34f; }
.lang-Stylus { color: #ff6347; }
.lang-SubRip-Text { color: #9e0101; }
.lang-SugarSS { color: #2fcc9f; }
.lang-SuperCollider { color: #46390b; }
.lang-Svelte { color: #ff3e00; }
.lang-Sway { color: #dea584; }
.lang-Sweave { color: #198ce7; }
.lang-Swift { color: #F05138; }
.lang-SystemVerilog { color: #DAE1C2; }
.lang-TI-Program { color: #A0AA87; }
.lang-TL-Verilog { color: #C40023; }
.lang-TLA { color: #4b0079; }
.lang-TOML { color: #9c4221; }
.lang-TSQL { color: #e38c00; }
.lang-TSV { color: #237346; }
.lang-TSX { color: #3178c6; }
.lang-TXL { color: #0178b8; }
.lang-Talon { color: #333333; }
.lang-Tcl { color: #e4cc98; }
.lang-TeX { color: #3D6117; }
.lang-Terra { color: #00004c; }
.lang-TextMate-Properties { color: #df66e4; }
.lang-Textile { color: #ffe7ac; }
.lang-Thrift { color: #D12127; }
.lang-Turing { color: #cf142b; }
.lang-Twig { color: #c1d026; }
.lang-TypeScript { color: #3178c6; }
.lang-Typst { color: #239dad; }
.lang-Unified-Parallel-C { color: #4e3617; }
.lang-Unity3D-Asset { color: #222c37; }
.lang-Uno { color: #9933cc; }
.lang-UnrealScript { color: #a54c4d; }
.lang-UrWeb { color: #ccccee; }
.lang-V { color: #4f87c4; }
.lang-VBA { color: #867db1; }
.lang-VBScript { color: #15dcdc; }
.lang-VCL { color: #148AA8; }
.lang-VHDL { color: #adb2cb; }
.lang-Vala { color: #a56de2; }
.lang-Valve-Data-Format { color: #f26025; }
.lang-Velocity-Template-Language { color: #507cff; }
.lang-Verilog { color: #b2b7f8; }
.lang-Vim-Help-File { color: #199f4b; }
.lang-Vim-Script { color: #199f4b; }
.lang-Vim-Snippet { color: #199f4b; }
.lang-Visual-Basic-.NET { color: #945db7; }
.lang-Visual-Basic-6.0 { color: #2c6353; }
.lang-Volt { color: #1F1F1F; }
.lang-Vue { color: #41b883; }
.lang-Vyper { color: #2980b9; }
.lang-WDL { color: #42f1f4; }
.lang-WGSL { color: #1a5e9a; }
.lang-Web-Ontology-Language { color: #5b70bd; }
.lang-WebAssembly { color: #04133b; }
.lang-WebAssembly-Interface-Type { color: #6250e7; }
.lang-Whiley { color: #d5c397; }
.lang-Wikitext { color: #fc5757; }
.lang-Windows-Registry-Entries { color: #52d5ff; }
.lang-Witcher-Script { color: #ff0000; }
.lang-Wollok { color: #a23738; }
.lang-World-of-Warcraft-Addon-Data { color: #f7e43f; }
.lang-Wren { color: #383838; }
.lang-X10 { color: #4B6BEF; }
.lang-XC { color: #99DA07; }
.lang-XML { color: #0060ac; }
.lang-XML-Property-List { color: #0060ac; }
.lang-XQuery { color: #5232e7; }
.lang-XSLT { color: #EB8CEB; }
.lang-Xojo { color: #81bd41; }
.lang-Xonsh { color: #285EEF; }
.lang-Xtend { color: #24255d; }
.lang-YAML { color: #cb171e; }
.lang-YARA { color: #220000; }
.lang-YASnippet { color: #32AB90; }
.lang-Yacc { color: #4B6C4B; }
.lang-Yul { color: #794932; }
.lang-ZAP { color: #0d665e; }
.lang-ZIL { color: #dc75e5; }
.lang-ZenScript { color: #00BCD1; }
.lang-Zephir { color: #118f9e; }
.lang-Zig { color: #ec915c; }
.lang-Zimpl { color: #d67711; }
.lang-eC { color: #913960; }
.lang-fish { color: #4aae47; }
.lang-hoon { color: #00b171; }
.lang-jq { color: #c7254e; }
.lang-kvlang { color: #1da6e0; }
.lang-mIRC-Script { color: #3d57c3; }
.lang-mcfunction { color: #E22837; }
.lang-mupad { color: #244963; }
.lang-nanorc { color: #2d004d; }
.lang-nesC { color: #94B0C7; }
.lang-ooc { color: #b0b77e; }
.lang-q { color: #0040cd; }
.lang-reStructuredText { color: #141414; }
.lang-sed { color: #64b970; }
.lang-wisp { color: #7582D1; }
.lang-xBase { color: #403a40; }
