@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --safe-top: env(safe-area-inset-top, 0);
  --safe-right: env(safe-area-inset-right, 0);
  --safe-bottom: env(safe-area-inset-bottom, 0);
  --safe-left: env(safe-area-inset-left, 0);
  --primary-500: #0ea5e9;

  color-scheme: light dark;

  &.light {
    color-scheme: light;
  }

  &.dark {
    color-scheme: dark;
  }
}

::selection {
  @apply bg-primary-500 bg-opacity-70 text-white;
}

html:has(.backdrop) {
  overflow: clip !important;
}

html,
body {
  @apply w-full overflow-x-clip bg-white dark:bg-black text-stone-900 dark:text-stone-100;
}

img {
  @apply object-cover;
}

input,
textarea {
  @apply rounded-md px-3 py-2 transition;
  @apply accent-primary-500 bg-white dark:bg-black;
  @apply border border-stone-200 dark:border-stone-800;

  &[disabled] {
    @apply cursor-not-allowed opacity-30 bg-stone-300 dark:bg-stone-700;
  }

  &:focus {
    @apply outline-none ring ring-primary-500;
  }

  &[type="checkbox"] {
    @apply h-4 w-4 cursor-pointer accent-primary-500 ring-0;
  }
}

label {
  @apply cursor-pointer select-none;
}

hr {
  @apply border-primary-100 dark:border-primary-950;
}

.page-leave-active,
.page-enter-active {
  @apply transform-gpu transition-all duration-300;
}

.page-enter-from,
.page-leave-to {
  @apply opacity-0;
}

:root,
.themed-scrollbar {
  @apply scrollbar scrollbar-track-transparent scrollbar-thumb-primary-200
  scrollbar-track-rounded-full scrollbar-thumb-rounded-full scrollbar-corner-rounded-full
  scrollbar-w-2 dark:scrollbar-thumb-primary-900;
}

:root.dark {
  @apply scrollbar-thumb-primary-900 scrollbar-track-transparent;
}

:is(#read, #edit).md-editor {
  @apply bg-white font-sans dark:bg-black rounded-md;

  .default-theme {
    --md-theme-color: rgb(39 39 42 / var(--tw-text-opacity));
    --md-theme-link-color: var(--primary-500);
    --md-theme-link-hover-color: var(--primary-500);

    blockquote {
      @apply border-l-primary-500;
    }

    pre:before {
      @apply bg-stone-800;
    }

    code {
      @apply text-current bg-stone-100 dark:bg-stone-800 rounded py-0 px-1;
    }

    pre code {
      @apply bg-stone-800;

      padding: 1em;
      color: var(--md-theme-code-block-color);
      border-radius: 0 0 5px 5px;
    }

    ul {
      @apply list-disc;
    }
  }

  pre,
  code {
    @apply font-mono;
  }
}

.dark :is(#read, #edit).md-editor .default-theme {
  --md-theme-color: rgb(228 228 231 / var(--tw-text-opacity));
  --md-theme-color-reverse: #222;
  --md-theme-color-hover: #191919;
  --md-theme-color-hover-inset: #444;
  --md-theme-border-color: #2d2d2d;
  --md-theme-border-color-reverse: #e6e6e6;
  --md-theme-border-color-inset: #5a5a5a;
  --md-theme-bg-color: #000;
  --md-theme-bg-color-inset: #111;
  --md-theme-bg-color-scrollbar-track: #0f0f0f;
  --md-theme-bg-color-scrollbar-thumb: #2d2d2d;
  --md-theme-bg-color-scrollbar-thumb-hover: #3a3a3a;
  --md-theme-bg-color-scrollbar-thumb-active: #3a3a3a;
  --md-theme-code-copy-tips-color: inherit;
  --md-theme-code-copy-tips-bg-color: #3a3a3a;
  --md-theme-code-active-color: #e6c07b;
}

.md-editor-catalog {

  .md-editor-catalog-link > span:hover,
  .md-editor-catalog-active > span {
    @apply text-primary-500;
  }
}

.Vue-Toastification__container {
  @apply print:hidden;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@layer components {
  .safe-inset-0 {
    inset: var(--safe-top) var(--safe-right) var(--safe-bottom) var(--safe-left);
  }

  .safe-left-0 {
    left: var(--safe-left);
  }

  .safe-right-0 {
    right: var(--safe-right);
  }

  .safe-top-0 {
    top: var(--safe-top);
  }

  .safe-bottom-0 {
    bottom: var(--safe-bottom);
  }

  .page {
    @apply container mx-auto max-w-7xl px-3 pb-16 pt-24 sm:px-6;
  }

  .card {
    @apply bg-primary-50 dark:bg-stone-800;
  }

  .animation-rotate {
    animation: rotate 1s infinite;
  }
}
