@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --primary-500: rgb(99, 102, 241);
  @apply text-zinc-800 dark:text-zinc-200 bg-zinc-50 dark:bg-zinc-900;
}

img {
  @apply object-cover;
}

input {
  @apply bg-white bg-opacity-70 dark:bg-zinc-800 dark:bg-opacity-80 rounded-md py-2 px-3;

  &[disabled] {
    @apply opacity-50 cursor-not-allowed;
  }
}

.bg-blur {
  @apply bg-white bg-opacity-70 backdrop-blur-xl dark:bg-zinc-800 dark:bg-opacity-80;
}

.page {
  @apply py-16 container mx-auto max-w-7xl;
}

.f-input {
  @apply rounded-xl;
}

.animation-rotate {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}

.page-enter-active {
  transition: all 0.3s;
}

.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  @apply transform-gpu translate-y-12 opacity-10;
}
