@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-500: rgb(99, 102, 241);
  @apply text-zinc-800 dark:text-zinc-200;
  color-scheme: light dark;
}

img {
  @apply object-cover;
}

input {
  @apply bg-white bg-opacity-70 dark:bg-black dark:bg-opacity-80 rounded-md py-2 px-3 border;
}

.md-editor-catalog-active {
  > span, span:hover {
    @apply text-primary-500;
  }
}

.md-editor {
  --md-bk-color: #fafafa !important;
  @apply rounded-xl shadow;

  &.md-editor-dark {
    --md-bk-color: #27272A !important;
  }

  .md-editor-preview-wrapper {
    @apply px-3 md:px-6 sm:px-12 pb-12;
  }

  .default-theme {
    --md-theme-link-color: var(--primary-500) !important;
    --md-theme-link-hover-color: var(--primary-500) !important;

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    img {
      margin: 0;
    }

    a {
      @apply bg-gradient-to-r from-primary-300 to-primary-500 bg-no-repeat transition-all no-underline transform-gpu;
      background-position-y: 100%;
      background-size: 0 1.5px;

      &:hover {
        background-size: 100% 1.5px;
      }
    }

    blockquote {
      @apply border-l-primary-500;
    }

    table tbody tr:hover {
      background: none;
    }
  }

}

.bg-blur {
  @apply border dark:border-gray-900 bg-white bg-opacity-70 backdrop-blur-2xl backdrop-saturate-100 dark:bg-black dark:bg-opacity-80;
}

.page {
  @apply py-20 container mx-auto;
}

.f-input {
  @apply rounded-xl;
}

.animation-rotate {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
